form {
  width: 400px;
  margin: auto;
  margin-top: 54px;
}
.form-controls {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 12px;
}
.form-actions {
  margin-top: 18px;
  width: 100%;
  display: flex;
  
}
input {
  padding: 6px 4px;
  border-radius: 3px;
}
input:focus{
  outline: none;
  border: 2px solid var(--background-text)
}
.form-actions .loginBtn {
  width: 100%;
  padding: 4px 6px;
  cursor: pointer;
  background-color: var(--background-text); 
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
}
.loginBtn:hover{
    background-color: var(--text-dark);
}
.formTitle {
  color: var(--background-text);
}

.formFooter{
  margin-top: 18px;
}
.formFooterLink{
  color: var(--background-text);
}
.custom-upload-btn{
  background-color: transparent;
  border: 2px solid var(--background-text);
  width: fit-content;
  padding: 4px 6px;
}