.editTodoInput {
  width: 100%;
  background-color: #dff6fc98;
  /* border: none; */
  border: 1px solid black;
  height: 100%;
  font-size: medium;
}
.editTodoInput:focus {
  outline: 1px solid black;
}
tr {
  padding: 0;
  height: 30px;
}
tr:nth-child(even){
    background-color: #80808014;
}
th,td{
    border: 1px solid black;
}
td {
  height: 30px;
  text-align: center;
}
tr td:last-child{
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
tr td button{
    padding: 4px 6px;
    /* border: 1px solid black; */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.deleteBtn{
    background-color: rgba(240, 28, 28, 0.845);
    color: white;
}
.editBtn{
    background-color: rgba(35, 35, 236, 0.779);
    color: white;
}
.updateBtn{
    background-color: green;
    color: white;
}