.todosTable {
  width: 500px;
  border-collapse: collapse;
  margin: auto;
  margin-top: 24px;
}
.todosTable td,
th {
  border: 1px solid black;
}
th:first-child,
td:first-child {
  width: 60%;
}
td:last-child {
  text-align: center;
}
