header{
    height: auto;
    padding: 5px;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px 1px  rgba(0, 0, 0, 0.221);
}
.mainNavHeader{
    position: sticky;
    top: 0px;
}
.logo{
    color: var(--background-text);
    font-family: 'Pacifico', cursive;
    font-size: 34px;
    text-shadow: 2px 2px rgb(105, 93, 93);
}

.mainNav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 28px;
    align-items: center;
}

.mainNav ul{
    display: flex;
    gap: 28px;
    list-style-type: none;
}
.mainNav ul li a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.mainNav ul li .active{
    color: var(--background-text);
    text-decoration: underline;
    /* font-weight: bold; */
}
.mainNav ul li a:hover{
    color:black;
    text-decoration: underline;
}
.navSignupBtn{
    padding: 4px 6px;
    font-size: 16px;
    background-color: var(--background-text);
    color: var(--background-color);
    font-weight: 600;
    border: none;
    border-radius: 5px;
}